* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navegacion{
  width: 100%;
padding-left: 5%;
padding-right: 5%;
display: flex;
background-color: beige;
align-items: center;
justify-content: flex-start;
flex-direction: row;
background-image: url(../asssets/img/portada1.jpeg);
background-repeat: no-repeat;
background-size: auto;
background-attachment: inherit ;
background-position: center;
}
.navegacion-enlaces{
  margin-right: 5%;
  width: 75%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  padding: 5%;
}
.navegacion-enlaces ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-right: 5%;
}
.navegacion-enlaces ul li a{
  margin-left: 30px;
  text-decoration: none;
  font-size: 1rem;

}

/* Formulario de destino */
.formulario{
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.formulario-inputs{
  display: inline;
  border: solid lightseagreen 2px;

  border-radius: 5px;
}